body {
 font-family: 'Roboto', sans-serif;
 display: block;
}

a:link {
 color: #FF0000;
}

a:hover {
color: #9400D3;
}

a:visited {
 color: #0000FF;
}

.nav {
  text-align: center;
  margin: 0px;
  padding: 0px;
}
