h1 {
  text-align: center;
}

body {
 font-family: 'Roboto', sans-serif;
 display: block;
}

a:link {
 color: #FF0000;
}

a:hover {
color: #9400D3;
}

a:visited {
 color: #0000FF;
}

.nav {
  text-align: center;
  margin: 0px;
  padding: 0px;
  list-style: none;
  
}

.nav li {
  padding: 5px;
  text-decoration: none;
}


 .nav a:link {
   color: #000000;
   text-decoration: none;
   font-weight: bold;
   display: block center;
   border-radius: 5px;
   padding: 5px 30px;
}

.nav a:hover {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  background-color: #000000;
  display: block center;
  border-radius: 5px;
  padding: 5px 30px;
}

.nav a:visited {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
  display: block center;
  border-radius: 5px;
  padding: 5px 30px;
}

.nav a:active {
  color: #808080;
  text-decoration: none;
  font-weight: bold;
  display: block center;
  border-radius: 5px;
  padding: 5px 30px;
}
