body {
 font-family: 'Roboto', sans-serif;
 display: block;
  margin: 0px 195px 15px 195px;
}

h1, h2, h3 {
 margin-bottom: none;
}

a:link {
 color: #FF0000;
}

a:hover {
color: #6622cc;
}

a:visited {
 color: #2d3047;
}

.nav {
  text-align: center;
  margin: 0px;
  padding: 0px;
  list-style: none;
  
}

.nav li {
  padding: 5px;
  text-decoration: none;
}


 .nav a:link {
   color: #000000;
   background-color: #ffffff;
   text-decoration: none;
   font-weight: bold;
   display: block center;
   border-radius: 5px;
   padding: 5px 30px;
}

.nav a:hover {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  background-color: #000000;
  display: block center;
  border-radius: 5px;
  padding: 5px 30px;
}

.nav a:visited {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
  display: block center;
  border-radius: 5px;
  padding: 5px 30px;
}

.nav a:active {
  color: #808080;
  text-decoration: none;
  font-weight: bold;
  display: block center;
  border-radius: 5px;
  padding: 5px 30px;
}

hr {
 border-style: inset;
 border-width: 1px;
 margin-block-start: 10px;;
 margin-block-end: 10px;;
 margin-inline-start: auto;
 margin-inline-end: auto;
}

figure {
 position: relative;
 float: right;
 margin-left: 10px;
}

figure#content-is-like-water, figure#web_index {
 float: none;
}
